.f1 {
	white-space: nowrap;
}
body {
	padding: 0px;
	margin: 0;
	text-decoration: none;
	color: #ffffff;
	background-color: #5F6368;
}
body a {
	border-width: 0px;
	text-decoration: none;
	color: #ffffff;
	border-color: none;
}
.a:hover {
	color: rgb(255 255 255);
	background-color: #cfcfcf;
	border-radius: 100px; 
}
.a {
	border-radius: 0px;
	display: inline;
	height: 40px;
	width: 40px;
	margin: 0 3;
	color: rgb(0 0 0);
	position: relative;
	left: 10px;
	
}
.hej {
	position: relative;
	float: right;
	margin: 0 12px;
	border-radius: 20px;
	width: 200px;
	height: 400px;
	background: #4f4f4f;
}

.dtr2:hover {
	background: #6f6f6f;
}
.dtr2 {
	height: 150px;
	width: 100%;
	background-color: #4f4f4f;
	border-width: 1px;
	border-bottom-style: solid;
	border-color: black;
	border-radius: 25px 0 0 25px;
}
.opb {
	width: auto;
	height: 45px;
	position: relative;
	background-color: #757474;
	border-radius: 20px 20px 0 0;
}
.e {
	position: relative;
	color: white;
	left: 160px;
	text-decoration: none;
	border-radius: 25px;
	width: 500px;
}
.f {
	position: relative;
	bottom: 92px;
	border-radius: 25px;
}

.f3 {
	overflow: visible;
	height: 50px;
	display: inline;
	position: absolute;
	margin-top: -35px;
	width: 100%;
}
.k {
	position: absolute;
	bottom: 60px;
	left: -20%;
}
.l {
	position: absolute;
	margin: 0 38%;
}
.owo {
	position: absolute;
	left: 10px;
	top: -20px;
}
.space30px {
	height: 50px;
}
.cmnt {
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	margin: auto;
	margin-top: -16px;
	background-color: #808080;
	width: 50%;
	text-align: center;
}
.f2 {
	border-radius: 10px;
	text-decoration: none;
	border-width: 0px;
}
